.mat-card {
  width: 300px;
  margin: 5px;
}

.mat-card-header {
  padding-top: 10px;
}

.mat-card-actions {
  a {
    width: calc(50% - 4px);
  }

  .mat-raised-button {
    margin: 0;
  }
}

.btn-group {
  .mat-raised-button {
    margin: 1px;
  }
}

@media screen and (max-width: 425px) {
  .btn-group {
    flex-wrap: wrap;
  }
}