<h1>Проекты</h1>
<div fxLayout="row wrap">
  <mat-card *ngFor="let project of projects">
    <a href="{{project.demoUrl}}" target="_blank">
      <img mat-card-image [src]="project.imageUrl" alt=""></a>
    <mat-card-header>
      <mat-card-title>{{project.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{project.description}}</p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="space-between center">
      <a mat-raised-button href="{{project.repoUrl}}" target="_blank">
        <fa-icon [icon]="faGithub"></fa-icon> Code
      </a>
      <a mat-raised-button href="{{project.demoUrl}}" target="_blank">
        <fa-icon [icon]="faGlobe"></fa-icon> Demo
      </a>
    </mat-card-actions>
  </mat-card>
</div>