.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
  margin: 32px auto 32px;
  width: calc(100% - 64px);
  padding: 0 16px;
}
footer {
  flex: 0 0 auto;
  background: lightgray;
  height: 40px;
  text-align: center;
}
