<h1>Опыт работы</h1>
<app-content-header [dates]="['2020/07', 'now']" title="НИИ Восход" subtitle="Frontend-разработчик"
  logo="./assets/img/logo/voskhod-logo.png">
  <div class="job">
    <h4>СМЭВ</h4>
    <ul>
      <li>Проверка проектов на соответствие брендбуку</li>
      <li>Приведение компонентов проекта в соответствие с требованиями брендбука (Angular 9, Tailwind CSS, PrimeNG)
      </li>
    </ul>
    <h4>СУНП (Сервис управления настройками платформы)</h4>
    <ul>
      <li>Разработка нового функционала (Angular 11, Angular Material, PrimeNG)</li>
      <li>Исправление багов</li>
    </ul>
    <h4>Мобильная версия портала Росгвардии</h4>
    <ul>
      <li>Участие в разработке (Angular 11 + Ionic)</li>
      <li>Исправление багов</li>
    </ul>
    <h4>Ситуационный центр</h4>
    <ul>
      <li>Frontend-разработка дашборда (Angular 11 + Chart.js)</li>
      <li>Доработка консоли управления доступом к витринам</li>
    </ul>
    <h4>ГАС (Государственный автоматизированный справочник)</h4>
    <ul>
      <li>Изучение Vue.js. Сделала тестовое задание-форму за 1 неделю</li>
      <li>Разработка переиспользуемых Vue-компонентов</li>
      <li>Разработка нового функционала</li>
      <li>Исправление багов</li>
    </ul>
  </div>
</app-content-header>

<app-content-header [dates]="['2018/09', '2020/07']" title="Банк Русский Стандарт" subtitle="Frontend-разработчик"
  logo="./assets/img/logo/rsb-logo-min.png">
  <div class="job">
    <ul>
      <li>Верстка email-рассылок</li>
      <li>Работа с СУБД Oracle PL/SQL: insert, select, объединение таблиц</li>
      <li>Разработка формы для исключения клиентов (Angular 7)</li>
      <li>Разработка интерфейса сервиса распознавания лиц (Angular 7)</li>
      <li>Верстка лендинга "<a href="https://www.rsb.ru/check/" target="_blank">Чек удачи</a>"</li>
    </ul>
    <h4>Приложение для начисления кэшбэка</h4>
    <ul>
      <li>Проектирование интерфейса</li>
      <li>Frontend-разработка (Angular 7)</li>
    </ul>
    <h4>Dialer CRM</h4>
    <ul>
      <li>Редизайн и верстка интерфейса CRM-системы</li>
      <li>Тестирование (ручное), написание тест-кейсов, занесение багов в Jira</li>
      <li>Администрирование, написание инструкций для пользователей, написание документации (Confluence)</li>
      <li>Frontend-разработка интерфейса (переписывание с JavaScript + jQuery на Angular 8 + Angular Material)</li>
      <li>Написание тест-кейсов по разработанным функциям в Confluence</li>
      <li>Постановка задач младшим разработчикам в Jira, проверка выполнения</li>
    </ul>
    <h4>Приложение для запуска кампаний CRM-camp</h4>
    <p>
      Исходные данные: приложение на бейсике и справочник команд API.
      Глобальная задача: сделать красиво на Angular :)
    </p>
    <ul>
      <li>Бизнес-анализ. Составление схемы переходов, составление списка задач для frontend и backend.</li>
      <li>Прототипирование интерфейса</li>
      <li>Разработка приложения (Angular 8 + Angular Material)</li>
    </ul>
  </div>
</app-content-header>

<app-content-header [dates]="['2016/09', '2017/02']" title="Да-Стратегия" subtitle="HTML-верстальщик"
  logo="./assets/img/logo/das-logo-min.png">
  <div class="job">
    <p>
      Дизайн и верстка сайта <a href="http://database-russian-ir.da-strateg.ru/main" target="_blank">национального
        реестра интегрированных отчетов</a>
      (Bootstrap, HTML5, CSS3, LESS, Jade)
    </p>
  </div>
</app-content-header>