<h1>Опыт работы</h1>
<content-header dates="Июль 2020 — по настоящее время" title="НИИ Восход" subtitle="Frontend-разработчик"
  logo="../../assets/img/voskhod-logo.png">
  <ul>
    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat odit dolorem fugit voluptatibus earum magni ab
      animi. Non culpa, maxime natus aliquid incidunt consequatur vitae nisi, atque deleniti enim officia.</li>
    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat odit dolorem fugit voluptatibus earum magni ab
      animi. Non culpa, maxime natus aliquid incidunt consequatur vitae nisi, atque deleniti enim officia.</li>
    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat odit dolorem fugit voluptatibus earum magni ab
      animi. Non culpa, maxime natus aliquid incidunt consequatur vitae nisi, atque deleniti enim officia.</li>
    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat odit dolorem fugit voluptatibus earum magni ab
      animi. Non culpa, maxime natus aliquid incidunt consequatur vitae nisi, atque deleniti enim officia.</li>
  </ul>
</content-header>
<content-header dates="Сентябрь 2018 — июль 2020" title="Банк Русский Стандарт" subtitle="Frontend-разработчик" logo="../../assets/img/logo/rsb-logo-min.png">
  <ul>
    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat odit dolorem fugit voluptatibus earum magni
      ab animi. Non culpa, maxime natus aliquid incidunt consequatur vitae nisi, atque deleniti enim officia.</li>
    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat odit dolorem fugit voluptatibus earum magni
      ab animi. Non culpa, maxime natus aliquid incidunt consequatur vitae nisi, atque deleniti enim officia.</li>
    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat odit dolorem fugit voluptatibus earum magni
      ab animi. Non culpa, maxime natus aliquid incidunt consequatur vitae nisi, atque deleniti enim officia.</li>
    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat odit dolorem fugit voluptatibus earum magni
      ab animi. Non culpa, maxime natus aliquid incidunt consequatur vitae nisi, atque deleniti enim officia.</li>
  </ul>
</content-header>
<content-header dates="Сентябрь 2016 — февраль 2017" title="Да-Стратегия" subtitle="Frontend-разработчик" logo="../../assets/img/logo/das-logo-min.png">
  <ul>
    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat odit dolorem fugit voluptatibus earum magni
      ab animi. Non culpa, maxime natus aliquid incidunt consequatur vitae nisi, atque deleniti enim officia.</li>
    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat odit dolorem fugit voluptatibus earum magni
      ab animi. Non culpa, maxime natus aliquid incidunt consequatur vitae nisi, atque deleniti enim officia.</li>
    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat odit dolorem fugit voluptatibus earum magni
      ab animi. Non culpa, maxime natus aliquid incidunt consequatur vitae nisi, atque deleniti enim officia.</li>
    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat odit dolorem fugit voluptatibus earum magni
      ab animi. Non culpa, maxime natus aliquid incidunt consequatur vitae nisi, atque deleniti enim officia.</li>
  </ul>
</content-header>