h4 {
    margin: 0;
}
.job {
    margin-bottom: 40px;
}

.gallery {
    max-width: 800px;
    overflow-x: auto;
    margin: 30px 0;
    img {
        width: 100px;
    }
}

.counter {
    user-select: none;
    font-size: 12px;
    &:hover {
        cursor: pointer;
    }
}
