<h1>Опыт работы</h1>
<app-content-header [dates]="['2020/07', 'now']" title="НИИ Восход" subtitle="Frontend-разработчик"
  logo="./assets/img/logo/voskhod-logo.png">
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, odit ipsum ipsa, commodi fugit itaque
    aliquam, totam libero fuga accusantium vel optio necessitatibus nulla eveniet impedit beatae asperiores consequatur
    cumque.</p>
</app-content-header>
<app-content-header [dates]="['2018/09', '2020/07']" title="Банк Русский Стандарт" subtitle="Frontend-разработчик"
  logo="./assets/img/logo/rsb-logo-min.png">
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, odit ipsum ipsa, commodi fugit itaque
    aliquam, totam libero fuga accusantium vel optio necessitatibus nulla eveniet impedit beatae asperiores consequatur
    cumque.</p>
</app-content-header>
<app-content-header [dates]="['2016/09', '2017/02']" title="Да-Стратегия" subtitle="Frontend-разработчик"
  logo="./assets/img/logo/das-logo-min.png">
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, odit ipsum ipsa, commodi fugit itaque
    aliquam, totam libero fuga accusantium vel optio necessitatibus nulla eveniet impedit beatae asperiores consequatur
    cumque.</p>
</app-content-header>