<h2>Образование</h2>
<app-content-header [dates]="['2016/09', '2018/06']" title="МГТУ им. Н. Э. Баумана"
  subtitle="Факультет информатики и систем управления" logo="./assets/img/logo/bmstu-logo.png">
  <ul>
    <li>Кафедра «Системы обработки информации и управления» (ИУ5)</li>
    <li>Квалификация – магистр</li>
  </ul>
</app-content-header>
<app-content-header [dates]="['2012/09', '2016/06']" title="МГТУ им. Н. Э. Баумана"
  subtitle="Факультет информатики и систем управления" logo="./assets/img/logo/bmstu-logo.png">
  <ul>
    <li>Кафедра «Системы обработки информации и управления» (ИУ5)</li>
    <li>Квалификация – бакалавр</li>
  </ul>
</app-content-header>